.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.column {
  padding: 10px;
}
.job-card {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 1%;
}
.job-card h4 {
  margin: 2%;
  
}
.job-card .location {
  margin: 2%;
}
.job-card .date {
  display: block;
  font-size: smaller;
  font-style: italic;
  text-align: right;
  margin-right: 2%;
  margin-bottom: 2%;
}

.details-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}